<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>sunrise</title>
	<link rel="stylesheet" type="text/css" href="./../static/resources/ext/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="./../static/resources/ext/resources/css/myicon.css" />
	<script type="text/javascript" src="./../static/resources/ext/ext-lang-zh_CN.js"></script>
	<script type="text/javascript" src="./../static/resources/ext/ext-all-debug.js"></script>	
	<script type="text/javascript" src="./../static/resources/WdatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="./../static/resources/WdatePicker/lang/zh-cn.js"></script>
	<script type="text/javascript" src="./../static/resources/echart/echarts.js"></script>
  <body>
  </body>
</html>