<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<title>sunrise</title>
	<link rel="stylesheet" type="text/css" href="./../webjars/extjs/4.2.0/resources/ext-theme-neptune/ext-theme-neptune-all.css" />	
	<script type="text/javascript" src="./../webjars/extjs/4.2.0/ext-all-debug.js"></script>	
	<script th:src="@{/js/ext-lang-zh_CN.js}"></script>
	<script type="text/javascript" th:src="@{/WdatePicker/WdatePicker.js}"></script>
	<script th:src="@{/js/config.js}"></script>
</head>
<body>

	
</body>
</html>